<mat-card class="contacts">
  <mat-card-header>
    <mat-card-title>Simple Chat App</mat-card-title>
    <mat-card-subtitle>Test App</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, blanditiis sunt hic quibusdam consequuntur alias
      officiis rerum vel, quaerat at modi, nulla molestiae laboriosam doloribus totam laborum! Ratione et dolorum
      obcaecati, culpa neque at perferendis? Iure, ut at. Nihil, corrupti!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga, praesentium provident corporis earum quod harum
      iusto. Minus, in! Reiciendis, odit. A quos, obcaecati vel, dignissimos officia beatae commodi quam facere sequi
      ratione recusandae ipsum exercitationem explicabo esse iste. Modi harum possimus tempora exercitationem numquam
      sapiente eius molestiae iste eligendi?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rem vitae impedit iusto quibusdam enim molestiae
      sit officiis cupiditate cumque nostrum iure nobis, distinctio voluptates rerum dignissimos, tempore obcaecati
      perferendis.</p>
    <img class="contacts__image" mat-card-image src="../../../assets//images/contacts.jpg" alt="Simple Chat">
  </mat-card-content>
</mat-card>
